body {
    font-family: fantasy;
    max-width: 640px;
    margin: auto;
}

button {
    font-family: inherit;
    font-weight: bold;
}

h1 { 
    margin-bottom: 0.25em;
}

pre {
    font-family: inherit;
}


